<<<<<<< HEAD
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../images/4K-Tech-HD-Background.jpg");
    background-color: black;
    width: 100%;
    height:1000px;
    margin: 0em;
    padding: 0em;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:  "header header nav nav" 
                          "main main main main"
                          "footer footer footer footer";
}


=======
nav{
    height: 100px;
    display: inline-block;
    /* text-align: center; */
}
/* this code is from the exercise 1 Topic 4 */

nav{
	background-color: #007FBF;
	display: block;
	position: fixed;
 	top: 0;
 	left: 75%;
 	width: 35%;
 	height: 100px;
}

nav ul{
    background-color: black;
    margin: 0;
    padding: 0;
}

nav > ul > li > a{
    padding: 25px;
   

}

nav ul > li{
    list-style-type: none;
}





>>>>>>> Site-Report
.shownav{
    text-decoration: none;
    color: white;
    display: inline-block;
    list-style: none;
}



a:hover{
color: blue;
}




/* Hamburger's Icon code */

.shownavs{
    height: 0.8em;
    width: 1.25em;
    position: relative;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;

    }

.shownavs:before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0.3em;
    left: 0px;
    border-top: 0.2em solid #fff;
    display: block;
    }

    .hidenav{
        height: 0.8em;
        width: 1.25em;
        position: relative;
        display: block;
        border-top: 0.2em solid white;
        border-bottom: 0.2em solid white;
        border-radius: 0.1em;
    
        }
    
    .hidenav:before{
        content: '';
        position: absolute;
        width: 100%;
        top: 0.3em;
        left: 0px;
        border-top: 0.2em solid #fff;
        display: block;
        }
    

#clicked .shownavs{
    display: block;
}

#clicked .hidenav{
    display: none;
}

#clicked:target .shownavs{
    display: none;
}
#clicked:target .hidenav{
    display: block;
}

#clicked #menu{
    display: block;
}

#clicked:target #menu{
    display: none;
}